.Course-info {
    position: relative;
    text-align: center;
    padding: 0 0 50px;
    margin: 0 auto;
    max-width: 1200px; /* Ориентировочная максимальная ширина */
    margin: 0 auto;    /* Центровка блока */
    padding: 0 20px
}