.course {
    position: relative;
    text-align: center;
    padding: 50px 0;

    &-info {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 20px;
    }

    &-button {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.25;
        border: 2px solid #f8f8f8;
        border-radius: 24px;
        background-color: #242424;
    }

    &-label {
        color: #bdacff
    }

    &-description {
        display: flex;
    }

    &-description-section {}

    &-img {
        align-self: center;
        max-width: 366px;
        width: 100%;
        height: fit-content;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    &-header {
        text-align: start;
        color: #f8f8f8;
        font-size: 65px;
        line-height: 0.95;
        max-width: 975px;
        font-weight: 600;
    }

    &-paragraph {
        text-align: start;
        color: #f8f8f8;
        font-size: 20px;
        line-height: 1.25;
        font-weight: 400;
        max-width: 500px;
    }

    &-cta-button {
        float: inline-start;
        background-color: #f8f8f8;
        border-radius: 24px;
        color: #121212;
        transition: all .3s ease;
        margin-top: 30px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.25;
    }

    &-cta-button:hover {
        opacity: 0.5;
    }
}