@import 'src/styles/variables';

.Lesson-details {
    padding: 20px;

    &__section {
        margin-bottom: 20px;
    }

    &__list {
        list-style-type: none;
        margin-left: 24px;
        padding-left: 0;

    }

    &__list-item {
        position: relative;
        margin-bottom: 8px;
        padding-left: 24px;

        &::before {
            content: '—';
            position: absolute;
            left: -20px;
            top: 0;
            bottom: 0;
            color: $color-black;
            font-size: 1.625rem;
            line-height: 1.2;
            font-weight: 400;
        }
    }

    &__extra-note {
        font-style: italic;
    }
}