@import "src/styles/variables";

.Course-widget {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__content {
    flex: 1;
  }

  &--left {
    flex-direction: row;
  }

  &--right {
    flex-direction: row-reverse;
  }

  &__description {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  &__title {
    max-width: 30%;
    height: auto;
    object-fit: contain;
  }
}

@media #{$tablet} {
  .Course-widget {
    &__description {
      gap: 10px;
      flex-direction: column;
    }

    &__title {
      max-width: 50%;
      align-self: center;
    }
  }
}
