@import 'src/styles/variables';

.App-layout {
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto;
    padding-top: 100px;
}


@media #{$tablet} {
    .App-layout {
        padding-top: 140px;
    }
}