.Course-info-banner {
    &__banner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__banner-text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        padding: 40px 0;
        max-width: 60%;
    }

    &__banner-img {
        align-self: center;
        flex-shrink: 0;
        max-width: 366px;
        width: 100%;
        height: fit-content;
        object-fit: contain;
        bottom: 0;
        right: 0;
        z-index: -1;
        flex-shrink: 0;
        max-width: 366px;
        width: auto; 
        height: auto;
        object-fit: cover; 
        height: auto;
    }
}
